@page "/configure"
@using Root.Models
@using Root.Services
@inject ILocalStorage LocalStorage
@inject NavigationManager NavigationManager
@inject IPhotoManager PhotoManager

<div>
    <h2>Set up your countdown!</h2>

    <EditForm class="form-control" Model="@myModel" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <table cellpadding="5" >
            <tr>
                <td colspan="2">Countdown to...</td>
            </tr>
            <tr>
                <td width="20%" >What:</td>
                <td width="60%"><InputText id="name" @bind-Value="myModel.Name" class="form-control"/></td>
            </tr>
            <tr>
                <td width="20%">When:</td>
                <td width="60%"><InputDate id="date" @bind-Value="myModel.CountdownDate" class="form-control" /></td>
            </tr>
            <tr>
                <td colspan="2" >                   
                    <InputRadioGroup @bind-Value="myModel.AnimationImage">
                    Choose animation:
                     <br />       
                    @foreach (var image in images.AnimationImages)
                    {                                                      
                            <InputRadio Value="@image" class="form-check-input" />
                            var src = $"_content/Root/animations/{image}.json";
                            <lottie-player src=@src background="transparent" speed="1"
                                style="width: 100px; height: 100px;" loop autoplay />                              
                    }
                    </InputRadioGroup>                   
                </td>
            </tr>
        </table>    
@{#if ANDROID || IOS || WINDOWS }
        <table>
            <tr>
                <td colspan="3" >                   
                    <img src="@myModel.SelfieImage" width="250" />
                </td>
            </tr>
            <tr>
                <td>
                    @{#if ANDROID || IOS }
                    <button class="btn btn-secondary" @onclick="@TakePhoto">Photo</button>
                    @{#endif}
                </td>
                <td><button class="btn btn-secondary" @onclick="@PickPhoto">Pic</button></td>
                <td><button class="btn btn-secondary" @onclick="@ClearPhoto">Clear</button></td>
            </tr>
        </table>  
@{#endif}
    </EditForm>
</div>

@code {
    private TimeUntilModel myModel;
    private TimeUntilImages images;
    private bool isSubmitted = false;
    private bool isNavigating = false;
    private bool isTakingPhoto = false;   

    protected override void OnInitialized()
    {
        myModel = TimeUntilService.GetModel(LocalStorage);
        images = TimeUntilService.GetImages();

        NavigationManager.LocationChanged += OnLocationChanged;
        
        PhotoManager.PropertyChanged += (sender, e) =>
        {           
            if (e.PropertyName == nameof(PhotoManager.SourceImage))
            {
                myModel.SelfieImage = PhotoManager.SourceImage;
                StateHasChanged(); 
                isTakingPhoto = false;   
            }           
        };
    }

    private void TakePhoto()
    {
        isTakingPhoto = true;   
        PhotoManager.TakePhoto();
    }

    private void PickPhoto()
    {
        isTakingPhoto = true;   
        PhotoManager.PickPhoto();
    }

    private void ClearPhoto()
    {        
        PhotoManager.SourceImage = "_content/Root/selfie-placeholder-image.jpg";
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        if (isTakingPhoto) return;
        isNavigating = true;
        //Only save if we're navigating away from the page, not into it
        if (sender is NavigationManager navigationManager && !navigationManager.Uri.ToLower().Contains("configure"))
        {
            Submit();
        }        
    }

    private void Submit() 
    {
        if (isTakingPhoto) return;
        if (!isSubmitted)
        {
            TimeUntilService.SaveModel(myModel, LocalStorage);             
            isSubmitted = true;
        }
        if (!isNavigating)
        {
            NavigationManager.NavigateTo("/");
        }
    }

}